@font-face {
    font-family: "modernpics";
    src: url(fonts/modern-pictograms/modernpics.otf);
}
@font-face {
    font-family: "opensans";
    src: url(fonts/open-sans/OpenSans-Regular.ttf);
}
body {
    margin: 0;
    background: #4383f2 url('noise.png');
    font-family: "opensans";
    color: #fff;
    overflow: hidden;
}
header {
    display: block;
    font-size: 38px;
    line-height: 70px;
    height: 68px;
    font-weight: bold;
    margin: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.pict {
    font-family: "modernpics";
    font-weight: normal;
}

button#lst {
    border: 1px solid #2060f5;
    background-color: #3070f2;
    font-size: 20px;
    font-family: "opensans";
    color: #fff;
    font-weight: bold;
    padding: 15px;
    line-height: 20px;
    float: right;
    margin: 10px;
    outline: none;
}
button#lst:active {
    background-color: #2060f5;
    border: 1px solid #3070f2;
}
.gh {
    color: #fff;
}
.desk {
    padding:50px;
}
#copy {
    margin-top: 50px;
    background-color: #444;
    padding: 20px 0;
    position:absolute;
    bottom: 0;
    left:0;
    width: 100vw;
    margin: 0;
}
@media only screen and (max-width:720px) {
    header {
        text-align: center;
    }
    button#lst {
        float: none;
    }
    .desk {
        margin-top:100px;
    }
}

#windows {
    width:  100vw;
    height: 100vh;
    position: absolute;
    top:  0;
    left: 0;
    z-index: 1;
    pointer-events: visible;
}

.window {
    width:  300px;
    background: #777 url('noise.png');
    cursor: move;
    border-radius: 5px;
    box-shadow: 0 0 25px #222;
}

.window-close {
    background-color: #fc744b;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin: 8px 8px 0 8px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.window-title {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.nus {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.window-box {
    height: calc(100% - 30px);
    width: 100%;
    background-color: #fff;
    color: #222;
    padding-bottom:5px;
    border-radius: 0 0 5px 5px;
    cursor: default;
    overflow-y: auto;
}

.window-content {
    padding: 10px;
}
.window-content h1 {
    font-size: 20px;
    margin-top: 0;
}
.window-content h2 {
    font-size: 18px;
    margin: 5px;
}
